.profile_picture {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: 40%;
}

.username {
    margin-left: 44%;

}

.banner_container {
    position: relative;
    padding: 100px 300px;
}

.profile_banner {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00aced;
    color: white;
    padding: 10px;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.post {
    width: 400px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post img {
    border-radius: 50%;
    margin-right: 10px;
}

.post_content {
    display: flex;
    flex-direction: column;
}

.post_actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.post_actions button {
    background-color: #00aced;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}